.products-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 24px;
}

.products-list__item {
    padding: 0;
    list-style: none;
}
