.order-total {
    display: flex;
}

.order-total__value {
    font-weight: bold;
    margin-left: auto;
}

.order-deliver {
    display: flex;
}

.order-deliver__value {
    font-weight: bold;
    margin-left: auto;
}

.PlaceOrder {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 10px;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    outline: 0 !important;
    cursor: pointer;
}

.disabled {
    background: #cccccc;
    border: 1px solid #cccccc;
}



