.order-item {
    display: flex;
    align-items: center;
}

.order-item__title {
    margin: 0;
    font-size: 16px;
    padding-right: 6px;
    flex-grow: 1;
}

.order-item__right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.order-item__quantity,
.order-item__price {
    padding-right: 16px;
}

.order-item__quantity {
    width: 30px;
}

.order-item__price {
    width: 80px;
}
