.product-item {
    width: 70%;
    height: 220px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 16px;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.product-item__title {
    margin: 0;
    padding-bottom: 8px;
}

.product-item__price {
    padding-bottom: 8px;
}

.img {
    width: 50%;
}