.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.constructor {
  display: flex;
}

.constructor__products {
  flex-grow: 1;
  width: 70%;
}

.constructor__order {
  flex-basis: 350px;
  margin-left: 48px;
}

.button {
  cursor: pointer;
  outline: 0 !important;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 0;
  font-weight: 400;
  line-height: normal;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  background-image: none;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: 125ms all ease-in-out;
  user-select: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
  position: relative;

  min-width: 40px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.button:active {
  box-shadow: none;
}

.button.button_color_aqua {
  background: #2bbbad;
}

.button.button_color_red {
  background: #e57373;
}